{% comment %}
<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday Night Rehearsal Dinner</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        Come join us for a few celebratory drinks at Grille 620
                    </dd>
                    <dt>When</dt>
                    <dd>Friday, June 21 at TODO</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Grille 620<br>
                            <a href="https://goo.gl/maps/QxykJFpotzS2">
                                11099 Resort Road,
                                Suite 304
                                Ellicott City, MD 21042
                            </a><br>
                            Phone: (410) 203-0620
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Casual</dd>
                    <dt>Transportation</dt>
                    <dd>Transportation is not provided. Please plan responsibly.</dd>
                    <dt>Parking</dt>
                    <dd>There should be plenty of parking available.</dd>
                    <dt>Other info</dt>
                    <dd>
                        TODO
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
{% endcomment %}

<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage in the lovely gardens of Howard County Conservancy</dd>
                    <dt>When</dt>
                    <dd>Saturday, June 22, at 4:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Howard County Conservancy<br>
                            <a href="https://goo.gl/maps/fF7e2eGL8w92">
                            10520 Old Frederick Rd,
                            Woodstock,
                            MD 21163</a><br>
                            Phone: (410) 465-8877
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Be warned: although much of the reception will be indoors, the gardens and ceremony area require walking on a small gravel path. This may be tricky in heels.
                    </dd>
                    <dt>Transportation</dt>
                    <dd>There will be a bus pick up for guests:
                        <ul>
                            <li><a href="https://goo.gl/maps/5gX1Hwb5syx">We should probably do this</a>: <strong>3:50pm</strong>
                        </ul>
                        Buses will be returning to the hotel throughout the night.
                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available on-site at the Conservancy</dd>
                    <dt>Afterwards</dt>
                    <dd>
                        Guests wishing to continue celebrating with Alec and Lana after the reception can head to <a href="https://goo.gl/maps/QxykJFpotzS2">Grille 620</a>.
                        Buses will also be dropping off there.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
